 body {
    background-color: lightblue;
    color: black;
    font-family: 'Arial';
}

.dropdown {
    float: left;
    overflow: hidden;
    border: 3px solid blue;
    border-radius:10px;
    background-color:cyan;
   
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: #00415f;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 3px solid blue;
    border-radius:10px;
    
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

.dropdown:hover .dropdown-content {
    display: block;
    cursor:pointer;
    background-color: cyan;
}

.header {
    width: 100%;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    
    width:400px;
    

}
button{
    margin:auto;
}

.btn {
    margin: auto;
    background-color: #7e7ef2;
    padding: 10px;
    border-radius: 25px;
    color: aliceblue;
}

    .btn:hover {
        cursor: pointer;
        background-color: #40407a;
    }


.border-box {
    display: flex;
    flex-direction: column;
    border: 3px solid #7e7ef2;
    width: 400px;
    padding: 20px;
    border-radius: 5%;
}

    .form-container{
        margin:auto;
    }
    h3{
        margin:auto;
    }
    h1{
        text-align:center;
    }
    p{
        text-align:center;
    }

.modal {
    display: none;
}
.specify{
    display:none;
}

.flex {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
}

.edit {
    margin-top: 40px;
}